:root {
  --PokemonBlue: #3c5aa6; /* original pokemon logo color */
  --PokemonYellow: #c7a008; /* original pokemon logo color */
}

body{
  background-color: #7591d8; 
}

.pokemon-list{
list-style-type: none;
padding-inline-start: 0px;
text-align: center;
}

.pokemon-button{
    background-color: var(--PokemonBlue); 
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    width: 20%;
    min-width: fit-content ;
}

.pokemon-button:hover {
    font-weight: bold;
    border: 3px solid #ffcb05;
}

.container {
  margin-top: 70px;
  padding-top: 10px;
}

.modal-content {
text-align: center;
}

.btn:hover {
  background-color: var(--PokemonYellow);
}

h1 {
font-family: Helvetica, Arial, sans-serif;
color: var(--PokemonYellow);
font-size: 2rem;
display: inline;

}

@media screen and (min-width:576px) and (max-width: 618px) {
  .container {
  padding-top: 45px;
  }
}

@media screen and (max-width: 575px) {
  .container {
    padding-top: 80px;
  }
}